.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #5DA5ED;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 10px;
  .user-avatar {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: white;

  }
}
